@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Outfit', system-ui, -apple-system, sans-serif;
    font-size: 18px;
    background-color: #FAFAFA;
    color: #1A1A1A;
}

body.dark {
    background-color: #191919;
    color: #FFFFFF;
}

@layer base {
    * {
        @apply border-gray-200 dark:border-gray-800;
    }
}